::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(155,155,155,0.9);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.6);
    border-radius:5px;
    background: rgba(155,155,155,0.8);
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    min-width: 560px;
    color: #bbb;
    font-family: sans-serif;
    background-color: #fafafa;
    overflow-x: hidden;
}

.switcher {
    border-radius: 1.5em;
    color: #999;
    cursor: pointer;
    font-size: 2em;
    padding: 0.5em;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 1em;
}

.switcher:hover {
    background-color: #eee;
}

.switcher.left {
    left: 1em;
}

.switcher.right {
    right: 1em;
}

.main-container {
    padding-bottom: 85px;
}

.app-icon-container {
    display: block;
    height: 200px;
    width: 200px;
    padding: 7px;
}

.app-icon-container .app-icon-image {
    height: 150px;
    width: 150px;
}

.app-icon {
    float: left;
    text-align: center;
    line-height: 1.2em;
    font-size: 0.6em;
}

.app-icon a {
    color: #666;
    text-decoration: none;
}

.app-actions {
    display: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
    width: 100%;
}

.app-actions a {
    padding: 3px;
}

div[app] {
    position: relative;
}

div[app]:hover .app-actions {
    display: inherit;
}

.app-desc {
    padding: 5px;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-preview {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 0 1em #999;
    box-sizing: border-box;
    height: 150px;
    margin: 0 auto 16px auto;
    overflow: hidden;
    padding: 1em;
    padding-top: 35%;
    position: relative;
    text-overflow: ellipsis;
    width: 150px;
}

.site-preview:hover {
    background-color: #e3e3e3;
    border: 1px solid #999;
    border-shadow-color: #666;
}

.site-preview-favicon {
    bottom: 6px;
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    width: 16px;
}

.container {
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 95%;
}

.clear {
    display: block;
    clear: both;
    height: 0;
}

[ng-cloak] {
    display:none;
}

footer {
    background-color: #eee;
    bottom: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.chrome-logo, .chrome-logo img, .chrome-logo-text {
    display: block;
    float: left;
}

.chrome-store {
    color: #999;
    display: block;
    font-size: 16px;
    font-weight: bold;
    float: right;
    padding-top: 10px;
    padding-right: 2em;
}

.chrome-store img {
    height: 32px;
    width: 32px;
}

.chrome-store-text {
    display: block;
    float: left;
    padding-top: 8px;
    padding-right: 10px;
    -webkit-user-select: none;
}

.chrome-store:hover .chrome-store-text {
    color: #666;
}

.chrome-logo img {
    display: block;
    height: 50px;
    width: 50px;
}

.chrome-logo-text {
    color: #999;
    cursor: default;
    font-size: 28px;
    padding-top: 10px;
    padding-left: 10px;
    -webkit-user-select: none;
}

.tabs {
    text-align: center;
    width: 100%;
}

.tab {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    width: 100px;
}

.tab:hover, .tab.active {
    color: #888;
}

.tab .tab-bar {
    height: 8px;
    background-color: #ddd;
    margin-bottom: 6px;
}

.tab:hover .tab-bar, .tab.active .tab-bar {
    background-color: #888;
}
