::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(155,155,155,0.9);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.6);
    border-radius:5px;
    background: rgba(155,155,155,0.8);
}

p {
    -webkit-margin-after: 0.5em;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

blockquote {
    padding: 0 0 0 1em;
    border-left: 5px solid grey;
    margin: 4px 0;
}

body {
    min-width: 560px;
    color: rgba(10,10,10,0.7);
    font-family: sans-serif;
    background-color: #fafafa;
    overflow-x:hidden;
}

h2 {
    font-size:1.2em;
    margin-bottom:3px;
}

a {
    color: rgba(0,0,255,0.7);
    text-decoration: none;
}

a:hover {
    color: rgba(0,0,255,0.8);
    text-decoration: underline;
}

a.plain {
    color: rgba(10,10,10,0.7);
    text-decoration: none;
}

a.plain:hover {
    text-decoration: underline;
}

a[rel=publisher] {
    padding-top:3px;
    float:right;
    text-decoration:none;
    display:inline-block;
    color:#333;
    text-align: center;
    font:13px/16px arial,sans-serif;
    white-space:nowrap;
}

a[rel=publisher] span {
    display:inline-block;
    vertical-align:top;
    margin-right:5px;
    margin-top:8px;
}

a[rel=publisher] span.name {
    font-weight: bold;
}

a[rel=publisher] img {
    border:0;
    width:32px;
    height:32px;
}

.in {
    display:inline;
}

.front {
    z-index: 9999;
}

.back {
    z-index: 1000;
}

.pretty-links {
  margin: 0.2em 0.4em;
}

.ghost {
    opacity: 0.1 !important;
}

.app-icon-128 {
    display: block;
    height: 200px;
    width: 200px;
    padding: 7px;
}

.app-icon-128 img {
    height: 150px;
    width: 150px;
}

.app-icon {
    float: left;
    text-align: center;
    line-height: 1.2em;
    font-size: 0.6em;
}

.app-logo a,
.app-icon a {
    color: rgba(0,0,0,0.7);
    text-decoration: none;
}

.app-actions {
    display:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color:rgba(186,211,218,0.8);
    position:absolute;
    bottom:0;
    margin-left:5px;
    margin-right:5px;
    padding-top:4px;
    padding-bottom:3px;
    width:100%;
}

.app-actions a {
    padding:3px;
}

div[app] {
    position:relative;
}

div[app]:hover div.app-actions {
    display:inherit;
}

.app-desc {
    padding: 1px;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-site {
    float: left;
    height: 245px;
    width: 245px;
    padding: 7px;
    text-align: center;
}

.top-site img {
    height: 200px;
    width: 200px;
}

.top-site span {
    text-decoration: none;
    display: block;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
    padding-top: 8em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 95%;
}

.app-container {
    opacity:0;
    max-height:0;
}

.app-container.populated {
    opacity: 1;
    max-height:3000px;
    transition: all 300ms ease-in-out;
    transition-delay: 100ms;
}

.app-logo {
    margin-left:20px;
}

.app-logo i {
    display:inline-block;
    height:19px;
    width:19px;
    background: url(../images/icon19.png) no-repeat center;
}

.main-container span.clear {
    display:block;
    clear:both;
    height:0;
}

span#app-prefs {
    position:fixed;
    bottom:10px;
    right:10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding:0;
    border-radius: 2px;
    margin:3px;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.66);
    z-index: 99999;
}

span#app-prefs i {
    padding: 3px;
}

[ng-cloak] {
    display:none;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events*/
.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    pointer-events: auto;
    -webkit-transition: all 500ms ease-out;
    -webtkit-transition-property: right, opacity;
    z-index: 9000000;
    opacity:1;
}

.dialog.ng-hide {
    opacity: 0;
    right: -800px;
    pointer-events: none;
}

.dialog .content {
    position: relative;
    width:200px;
    height:230px;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    border-radius: 7px;
    background: rgba(255,255,255,0.95);
    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.66);
}

.dialog .content h2 {
    margin: 2px;
}

.dialog .content h3 {
    font-size:0.8em;
}

.dialog .content div.setting {
    padding-bottom:8px;
}

@media only screen and (max-width : 685px ) {
    div.bookmarks-container {
        margin-left:35px !important;
    }
}
