<!doctype html>
<html lang="en" ng-app="newTab">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>New Tab Redirect</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>

<div ng-cloak>
    <div class="main-container" ng-controller="MainController">
        <span id="app-prefs">
            <a href="#" class="plain" ng-click="show_prefs=true">
                <i class="fa fa-gears"></i>
            </a>
        </span>

        <div class="dialog" ng-show="show_prefs">
            <div class="content">
                <h2>Display Preferences</h2>
                <div class="setting">
                    <h3><i class="fa fa-bookmark-o"></i> Bookmarks Bar</h3>
                    <label>
                        <input type="checkbox" ng-model="enable_bookmarks"> Enable
                    </label>
                    <div>
                        Show <input type="number" min="5" max="40" ng-model="bookmark_count" title="Too many bookmarks will cause the box to become very large"> bookmarks
                    </div>
                </div>
                <div class="setting">
                    <h3><i class="fa fa-star-o"></i> Top Sites Panel</h3>
                    <label>
                        <input type="checkbox" ng-model="enable_top"> Enable
                    </label>
                    <div>
                        Show <input type="number" min="5" max="20" ng-model="top_count" title="Too many top sites will cause the box to become very large"> top sites
                    </div>
                </div>

                <button ng-click="save_preferences()" class="pull-right">Close</button>
            </div>
        </div>

        <div class="container app-container" ng-class="{'populated':apps.length > 0}">
            <chrome-app ng-repeat="app in apps" app="app"></chrome-app>
            <span class="clear"></span>
        </div>

        <div class="container top-sites-container ng-hide" class="{'populated':top.length > 0}">
            <div ng-repeat="site in top" class="container-icon top-site">
                <a ng-href="{{ site.url }}" ng-title="{{ site.title }}" target="_self" class="top-site">
                    <img ng-src="chrome://extension-icon" />
                    <span>{{ site.title }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/vendor/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/vendor/angular/angular.min.js"></script>

<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/redirect.js"></script>
</body>
</html>
